@import 'evergreen-variables.css';

.ContentPane {
  flex: 1;
  overflow-y: auto;
  padding: 24px;
  min-height: 100%;
}

.Frame {
  background-color: var(--N2);
  box-shadow: var(--elevation-1);
  border-radius: 5px;
  border: 1px solid var(--N3);
}
