@import 'evergreen-variables.css';

@import 'react-grid-layout.global.css';

body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  color: var(--neutral-base);
  font-family: var(--font-ui);
}

.hidden {
  display: none;
}
