@import 'evergreen-variables.css';

.TopBar {
  z-index: 1;
  height: 56px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  position: sticky;
  top: 0;
  z-index: 9;
  background: white;
  box-shadow: var(--elevation-1);
}
