@import 'evergreen-variables.css';

.TopBar {
  height: 56px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  position: sticky;
  top: 0;
  z-index: 9;
  background: white;
  box-shadow: var(--elevation-1);
}

.brand {
  padding-right: 24px;
}

.brand a {
  text-decoration: inherit;
  color: inherit;
}
